section.banner {
	z-index: 0;
	position: sticky;
	top: 0;
	padding: var(--padding-s) var(--padding-xl);
	padding-bottom: calc(var(--border-radius-5xl) + var(--padding-xl));
	border-top-left-radius: var(--border-radius-5xl);
	border-top-right-radius: var(--border-radius-5xl);
	background-color: var(--bg-primary);

	&::before {
		position: absolute;
		height: var(--border-radius-5xl);
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		border-top-left-radius: var(--border-radius-5xl);
		border-top-right-radius: var(--border-radius-5xl);
		background: var(--bg-primary);
	}

	& > img {
		z-index: -1;
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0.5;
		filter: brightness(80%) blur(0.1rem);
	}

	* {
		text-shadow: 0 0 1em var(--bg-primary);
	}

	.wrapper {
		padding: var(--padding-xl) 0;

		.greeting {
			font-weight: 400;
			text-transform: capitalize;
			text-align: center;
		}

		.name {
			font-weight: 900;
			text-transform: capitalize;
			font-size: 2.75em;
			letter-spacing: -0.1ch;
			paint-order: stroke fill;
			-webkit-text-stroke: 2.5px var(--bg-primary);
			text-align: center;
			position: relative;
			padding-left: var(--padding-s);
		}

		.cursor {
			margin-left: var(--margin-xxs);
			display: inline-block;
			width: var(--padding-s);
			aspect-ratio: 1;
			transform: translateY(-25%);
			border-radius: var(--border-radius-o);
			background: var(--clr-accent);
			animation: cursor-blink 1s linear infinite;
		}
	}

	.today {
		font-size: 0.7em;
		text-transform: uppercase;
		text-align: center;
	}

	.theme-buttons {
		padding: var(--padding-xxs);
		display: flex;
		gap: var(--gap-xxs);
		position: absolute;
		top: var(--padding-xs);
		right: var(--padding-xs);
		border-radius: var(--border-radius-xxl);
		opacity: 0.75;

		> * {
			width: calc(var(--sz-menu) * 0.65);
			aspect-ratio: 1;
			border-radius: var(--border-radius-o);
		}

		.dark {
			background: black;
		}

		.light {
			background: white;
		}
	}
}
